{%- from 'hadoop/settings.sls' import hadoop with context -%}
JAVA_HOME={{ java_home }}
HADOOP_HOME_WARN_SUPPRESS=true
HADOOP_HOME={{ hadoop_home }}

{% if hadoop.major_version == 2 %}
HADOOP_PREFIX={{ hadoop_home }}
{%- endif %}

HADOOP_LIBEXEC_DIR={{ hadoop_home }}/libexec
HADOOP_CONF_DIR={{ hadoop_config }}

HADOOP_COMMON_HOME={{ hadoop_home }}
HADOOP_HDFS_HOME={{ hadoop_home }}
HADOOP_MAPRED_HOME={{ hadoop_home }}
HADOOP_YARN_HOME={{ hadoop_home }}

HIVE_CONF_DIR=/etc/hive/conf
HIVE_HOME=/usr/lib/hive

HADOOP_CLASSPATH=/usr/lib/tez/*:/usr/lib/tez/lib/*
